.list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  padding: 36px;
}
.button {
  background-color: rgb(239, 139, 234);
  border-radius: 30px;
  border: 2px solid rgb(50, 16, 47);
  color: black;
  font-size: 32px;
  padding: 8px 32px;
}
